<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="renderTargetsSection" type="Transrender.Configuration.RenderTargetsSection, Transrender" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="renderer" value="default"/>
    <add key="overwriteExistingFiles" value="false"/>
  </appSettings>
  <renderTargetsSection>
    <targets>    
      <add folder="1x" scale="0.5"/>
      <add folder="2x" scale="1.0"/>
      <add folder="32bpp" scale="0.5" bpp="32" />
      <add folder="2x_32bpp" scale="1.0" bpp="32" />
      <add folder="4x" scale="2.0" />
      <add folder="4x_32bpp" scale="2.0" bpp="32" />
    </targets>
  </renderTargetsSection>
</configuration>
